.subtotal {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 300px;
  padding: 2px;
  background-color: #c2cfac;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-top: 0px;
  align-items: center;
  z-index: 1;
}

.subtotal > button {
  background-color: #f3cf74;
  border: 1px solid;
  border-radius: 7px;
}
